<!DOCTYPE html>
<!--[if lt IE 9]><html class="no-js no-svg ie lt-ie9 lt-ie8 lt-ie7" {{ site.language_attributes }}> <![endif]-->
<!--[if IE 9]><html class="no-js no-svg ie ie9 lt-ie9 lt-ie8" {{ site.language_attributes }}> <![endif]-->
<!--[if gt IE 9]><!--><html class="no-js no-svg" {{ site.language_attributes }}> <!--<![endif]-->
<head>
  <meta charset="{{ site.charset }}" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="{{ site.description }}">

  <!-- link rel="author" href="{{ site.theme.link }}/humans.txt" / -->
  <link rel="pingback" href="{{ site.pingback_url }}" />

  {{ function('wp_head') }}

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

  {% block head %}
	{% endblock %}

</head>
<body class="{{body_class}} bg-light" data-template="base.twig">
  <a class="skip-link sr-only" href="#content">{{ _e( 'Skip to content') }}</a>

  <div id="fb-root"></div>
  <script async defer src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2"></script>

  <header class="Header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="Navbar-brand" href="{{ site.home_url }}">
          {{ site.name }}
          <img src="/app/themes/thebluedawn/dist/images/logo-semicolon-only.png" class="logo-semicolon">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          {% include 'partials/menu.twig' with {'menu': nav_menu.get_items} %}
        </div>
      </div>
    </nav>
    {% block banner %}
    {% endblock %}
  </header>

  {% block content %}
  {% endblock %}

  <footer class="content-info bg-primary text-light py-5">
    <div class="container">
      <div class="row">

        {{ footer_menu }}

        <section class="widget nav_menu-2 widget_nav_menu">
          <h3>Follow Us</h3>
          <div class="menu-social-media-menu-container">
            <ul id="menu-social-media-menu" class="menu">
              <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-23">
                <a href="https://twitter.com/thebluedawn56">
                  <i class="fab fa-twitter"></i>
                  Twitter
                </a>
              </li>
              <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-24">
                <a href="https://www.instagram.com/thebluedawn56/">
                  <i class="fab fa-instagram"></i>
                  Instagram
                </a>
              </li>
              <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-22">
                <a href="https://www.facebook.com/thebluedawn56/">
                  <i class="fab fa-facebook"></i>
                  Facebook
                </a>
              </li>
              <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-25">
                <a href="http://https://medium.com/@thebluedawnwrites/">
                  <i class="fab fa-medium"></i>
                  Medium
                </a>
              </li>
            </ul>
          </div>
        </section>

        <div class="col">
          <img src="/app/themes/thebluedawn/dist/images/logo-inverted.png" class="img-fluid">
        </div>

      </div>
      <div class="row text-center p-3 mt-3">
        <p>
          Copyright &copy; The Blue Dawn 2019.
          This site and WordPress theme are <a class="text-secondary" href="https://github.com/michaelsnook/thebluedawn-wp-bedrock/">available on GitHub</a> to use and adapt under an MIT license.
          Made with WordPress, Bedrock, Timber, and Bootstrap, by <a class="text-secondary" href="https://github.com/michaelsnook">Michael Snook</a>.
        </p>
      </div>
    </div>
  </footer>

  {{ function('wp_footer') }}

</html>
</body>
