<article id="tease-{{post.ID}}" class="{{ post.post_type }} text-muted py-3 border-bottom border-gray clearfix">
  <h4 class="entry-title"><a href="{{post.link}}">{{post.title}}</a></h4>
  <div class="row">
    {% if post.get_thumbnail %}
    <div class="col-md-3 col-sm-5 col-12 pb-3">
      <a href="{{ post.link }}">
        <img class="rounded img-fluid" src="{{post.thumbnail.src}}" />
      </a>
    </div>
    {% endif %}
    <div class="col">    
      <header>
        {% include 'partials/entry-meta.twig' %}
      </header>
      <div class="entry-summary">
        {{ post.preview }}
      </div>
    </div>
    
  </div>
</article>
